{% extends 'layout.html' %}

{% block content %}

<!-- error -->
<div>{{ error }}</div>

<!-- products -->
<div>
{% for product in data.products %}
  <form action="/{{product.id}}/lineItems" method="POST">
    <li>{{ product.name }}</li>
    <button name="productId" value="{{product.id}}">Add One!</button>
  </form>
{% endfor %}
</div>

<!-- cart -->
{% if data.cart %}
<div>
  <form action="/{{data.cart.id}}?_method=PUT" method="POST">
    {% for lineitem in data.cart.lineitems %}
      <li>{{ lineitem.product.name }} {{ lineitem.quantity }}</li>
    {% endfor %}
    <input type="text" name="address"/>
    <input type="submit" name="" value="Buy all the things!"/>
  </form>
</div>
{% endif %}

<!-- orders -->
<div>
{% for order in data.orders %}
  <p>{{ order.address }}</p>
  {% for lineitem in order.lineitems %}
  <li>{{ lineitem.product.name }} {{ lineitem.quantity }}</li>
  {% endfor %}
  <hr>
{% endfor %}
</div>


{% endblock %}