// test
@import "_reset.scss";
@import "_colors.scss";
@import "_grid.scss";
@import "_text.scss";

@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Lato');

/*
  font-family: 'Gloria Hallelujah', cursive;
  font-family: 'Lato', sans-serif;
*/

html { font-size: 16px; }
body { font-size: 100%; }

* { font-family: 'Lato', sans-serif; }
h1, h2, h3, h4 {   font-family: 'Gloria Hallelujah', cursive; }
h1 { font-size: 3em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.1em;}

header {
  display: block;
  padding: 2em;
  margin-bottom: 1em;

  & h2 {
    margin-bottom: 1em;
  }
}

// li template
.products, .cart {
  border: solid 1px $silver;
  border-radius: 3px;
  padding: 0;

  & li {
    list-style-type: none;
    padding: 0.3em 1em;

    & form {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &:not(:last-child) {
      border-bottom: solid 1px $silver;
    }
  }
}

li.address form {
  display: flex;
  flex-direction: column;
}

.cart input[type=text] {
  width: 100%;
}

.orders {
  padding: 1em 0;

  & h4 { padding-bottom: 0.5em; }
}

.error {
  background-color: $p-light;
}
